@{
    ViewData["Title"] = "Home Page";

    var sessionEmail = Context.Session.GetString("email");
    var sessionNome = Context.Session.GetString("nome");
    var sessionTipoUsuarioId = Context.Session.GetString("tipo");

}

<div class="text-center">
    <h1 class="displa">BEM VINDO</h1>
</div>
